# Custom tags populated by ia during the tagging process.

%Image::ExifTool::UserDefined = (
    'Image::ExifTool::XMP::Main' => {
        Color => {
            SubDirectory => {
                TagTable => 'Image::ExifTool::UserDefined::Color',
            },
        },
    },
);

%Image::ExifTool::UserDefined::Color = (
    GROUPS => { 0 => 'XMP', 1 => 'XMP-Color', 2 => 'Image' },
    NAMESPACE => { 'Color' => 'xmpcolor' },
    WRITABLE => 'string',

    # A comma-delimited RGB triple for an image's "average" color.
    AverageRGB => { },
);

# Local Variables:
# mode: perl
# End:
