<html>
<head>
  <title>{{$ page_title }}Image Archive{{/ page_title }}</title>
  <link rel="stylesheet" type="text/css" href="ia.css"/>
</head>
<body>
    {{$ page_content }}
    {{/ page_content }}
</body>
</html>
